{:top-namespace "ai.brainyard",
 :interface-ns "interface",
 :default-profile-name "default",
 :compact-views #{},
 :vcs {:name "git", :auto-add false},
 :tag-patterns {:stable "stable-*", :release "v[0-9]*"},
 :projects {"agent-tui-app" {:alias "ata", :necessary ["analytics"]}
            "acp-stub-agent" {:alias "asa"}}}
